.contact-form {
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-form form {
    margin: 0;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 7%;
    margin-top: 2px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 16px;
    resize: vertical;
  }
  
  .contact-form .btn {
    background: #d6a692;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .contact-form .btn:hover {
    background: #efd9b4;
    transition: 0.2s ease-in-out;
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contact-info {
    width: 45%;
    min-width: 370px;
    color: rgb(239, 217, 180);
    border: 1px solid #efd9b4;
    border-radius: 20px;
    padding: 7px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }
  
  #contact-field {
    width: 45%;
    min-width: 370px;
    background: #f1f1f1;
    padding: 2%;
    border-radius: 20px;
    margin: 10px;
  }
  
  .contact-form [lang="en"] {
    display: none;
  }
  
  .contact-form [lang="fr"] {
    display: none;
  }
  
  /* styles for screens with a maximum width of 767px */
  @media screen and (max-width: 767px) {
    .contact-form {
      width: 100%;
      max-width: none;
      height: auto;
      padding: 10px;
    }
    
    .contact-form input,
    .contact-form textarea {
      margin-bottom: 3%;
      margin-top: 1%;
      font-size: 14px;
    }
    
    .contact-form .btn {
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    
    #contact-info,
    #contact-field {
      width: 100%;
      min-width: auto;
      margin: 0;
      margin-bottom: 10%;
      font-size: 20px;
    }
  }
  
