.homeImage{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.homeImage img{
    width: 100%;
    opacity: 75%;
}

.homeImage .homeTitle{
    position: absolute;
    top: 20px;
    margin: 0px;
    color: white;
    font-size: 70px;
    text-shadow: 3px 3px 5px #000000;
}

.homeImage .homeName{
    position: absolute;
    top: 60px;
    margin: 0px;
    color: #efd9b4;
    font-size: 70px;
    text-shadow: 3px 3px 5px #000000;
}

.homeButtonsContainer{
    display: flex;
    position: absolute;
    bottom: 50px;
}

.homeButtonsContainer a{
    text-decoration: none;
}

.homeButtonsContainer div{
    color: black;
    background-color: #efd9b4;
    border: 3px solid #d6a692;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    transition: all 0.2s;
    box-shadow: 3px 3px 10px #000000;
}

.homeButtonsContainer div:hover{
    transform: scale(1.2);
}

.homeButtonsContainer p{
    margin: 5px;
}

.address{
    background-color: #4d61603d;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.address p {
    color: #d6a692;
    margin: 0px;
    font-size: 40px;
}

.openingHours{
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #efd9b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    color: #efd9b4;
}

.openingHours div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.openingHours div p{
    margin: 0px;
    font-size: 40px;
}

.bannerContainer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bannerContainer a{
    width: 80%;
    max-width: 500px;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.bannerContainer a:hover{
    transform: scale(1.1);
}

.bannerContainer img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.bannerContainer p{
    position: absolute;
    color: white;
    text-shadow: 3px 3px 5px #000000;
    font-size: 50px;
}

@media screen and (max-width: 1000px) {
    .homeImage .homeTitle{
        font-size: 50px;
    }

    .homeImage .homeName{
        font-size: 50px;
    }

    .homeButtonsContainer{
        bottom: 20px;
    }

    .homeButtonsContainer div{
        width: 130px;
        font-size: 25px;
    }

    .address p {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {

    .homeImage .homeTitle{
        font-size: 30px;
        top: 0px;
    }

    .homeImage .homeName{
        font-size: 30px;
        top: 20px;
    }
    .homeButtonsContainer{
        bottom: 10px;
    }

    .homeButtonsContainer div{
        width: 100px;
        font-size: 20px;
    }
    .address p {
        font-size: 25px;
    }
    .openingHours div p{
        margin: 0px;
        font-size: 30px;
    }
    .bannerContainer p{
        font-size: 40px;
    }
}